.btn-uno {
    background-color: #50B2A2 !important;
}
.btn-dos {
    background-color: #50B38A !important;
}
.btn-tres {
    background-color: #C85142 !important;
}
.btn-cuatro {
    background-color: #0FA2CB !important;
}
.btn-cinco {
    background-color: #D8457A !important;
}
.btn-seis {
    background-color: #D8723C !important;
}
.btn-siete {
    background-color: #D99129 !important;
}

.btn {
    border: none;
}
